h1 {
    color: blue;
    text-align: center;
    text-shadow: rgb(182, 39, 134) 1px 0 10px;
    
}
h2 {
    color:darkblue;
    text-shadow: rgb(180, 23, 128) 1px 0 10px;
    text-align: center;
}
input {
    text-align: center;
}
button {
    text-align: center;
}
h3 {
    color: red;
    text-align: center;
    font-size: 30px;
    
}
div { 
    text-align: center;
}
p {
    font-family: Georgia,serif;
    font-size: 20px;
}
