h1 {
    color: blue;
    text-align: center;
    text-shadow: rgb(182, 39, 134) 1px 0 10px;
    background: linear-gradient(to right, rgb(146, 238, 183), #24b610);
}
body { 
    background-color: aquamarine;
}
h2 {
    color:darkblue;
}
input {
    text-align: center;
}
button {
    text-align: center;
}
h3 {
    color: red;
    text-align: center;
    text-shadow: rgb(224, 224, 101) 1px 0 10px;
}
div { 
    text-align: center;
}
.haikei {
    background-image: url(images/kuisinbou1.jpg);
}