h1 {
    color: blue;
    text-align: center;
    text-shadow: rgb(182, 39, 134) 1px 0 10px;
    
}
h2 {
    color:darkblue;
    text-shadow: rgb(180, 23, 128) 1px 0 10px;
}
input {
    text-align: center;
}
button {
    text-align: center;
}
h3 {
    color: red;
    text-align: center;
    font-size: 30px;
    
}
div { 
    text-align: center;
}
p {
    font-family: Georgia,serif;
    font-size: 20px;
}div.zentai {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 2fr 2fr; /* 3列にする．幅は 1:2:2 の比率*/
    grid-auto-rows: 100px 100px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 500px;
}

div.box {
    background: cyan;
}
