p{
    color: black;
}
h1{
    color: rgb(6, 67, 91);
    text-shadow: rgb(72, 210, 231)1px 0 10px;
}
html{
    background-color: rgb(196, 238, 237);
}
h2{
    color:black;
    font-family: cursive;
    background: linear-gradient(to right, rgb(146, 238, 236), #335cd6);

}
div#zentai {
    grid-template-columns: 1fr 1fr;
display: grid;
grid-auto-rows: 200px;
grid-gap: 10px;
flex-direction: row;
width: 1024px;
}

