p{
    color: black;
}
h1{
    color: rgb(6, 67, 91);
    text-shadow: rgb(72, 210, 231)1px 0 10px;
    text-align: center;
}
html{
    background-color: rgb(196, 238, 237);
}
h2{
    color:black;
    font-family: cursive;
    background: linear-gradient(to right, rgb(146, 238, 236), #335cd6);

}
.zentai {
    grid-template-columns: 1fr 1fr;
    display:grid;
}

.box {
    background-color: rgba(63, 131, 204, 0.17);
    margin: 10px;
    padding: 5px 5px 5px 5px;
    border: solid 10px;
    border-color: rgb(90, 60, 209);
    display: grid;
}



