p{
    color: black;
}
h1{
    color: rgb(6, 67, 91);
    text-shadow: rgb(72, 210, 231)1px 0 10px;
    text-align: center;
}
html{
    background-color: rgb(196, 238, 237);
}
h2{
    color:black;
    font-family: cursive;
    background: linear-gradient(to right, rgb(146, 238, 236), #335cd6);

}.zentai {
    display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 2fr 2fr; /* 3列にする．幅は 1:2:2 の比率*/
    grid-auto-rows: 100px 100px;        /* 高さは 100px */
    grid-gap: 10px;                     /* 隣り合う行（列）の間隔を 10px に*/

    width: 500px;
}

.box {
    background: cyan;
}


