p {
	color: navy;
}

p.info {
	background-color: #dfdfdf;
	font-size: small;
}

h1 {
	color: white;
	text-shadow: navy 1px 0 10px;
}

h2 {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(to right, white, #ffefaf);
	padding: 5px;
}

div#zentai {
	grid-template-columns: 1fr 1fr;
	display: grid;
	grid-auto-rows: 200px;
	grid-gap: 10px;
	flex-direction: row;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}
img{
	float: right;
}
